.user {
  font-weight: bold;
  padding-top: 10px;
}

.text {
  font-style: italic;
  font-size: 80%;
  padding-left: 20px;
}

.rating {
  padding-left: 30px;
  font-size: 70%;
  /* color */
  /* background */
  border: 1px dashed red;
  width: 60px;
}
